

/* Start:/bitrix/templates/kostroykaremont_main/components/bitrix/system.pagenavigation/.default/style.css?15930890461171*/
div.modern-page-navigation { 
	padding: 22px 0;
	font-size: 12px;
}

div.modern-page-navigation a, 
span.modern-page-current, 
span.modern-page-dots
{
	border-left-width: 1px;
	/*border-left-style: solid;*/
	text-decoration: none;
	padding: 5px 8px;
	color: #5B5B5B;
}
div.modern-page-navigation a.modern-page-previous { 
	border-right-width: 1px; 
	/*border-right-style: solid; */
	border-left: none; }
div.modern-page-navigation a.modern-page-first, 
div.modern-page-navigation span.modern-page-first { 
	border-left: none; 
	padding-left: 0.5em; }

span.modern-page-current { 
	/*font-weight: bold;*/
    background: #BEBEBE;
    border-color: #BEBEBE;
    padding: 3px 8px;
    border-radius: 3px;
    color: white;

}

.pagination {

    margin-top: 15px !important;
    margin-right: 5px !important;

}

.pagination>li>a {
color: black !important;
color: #5B5B5B !important;
}


.pagination>li.active>a {
color: #9B9B9B !important;
}


.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus {
    z-index: 3;
    background: none !important;
    border-color: transparent;
}

/*i.fa {font-size: 14px; margin-top; 3px}*/
/* End */


/* Start:/bitrix/templates/kostroykaremont_main/components/bitrix/news/gallery/bitrix/news.list/.default/style.css?1656973097150*/
div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */
/* /bitrix/templates/kostroykaremont_main/components/bitrix/system.pagenavigation/.default/style.css?15930890461171 */
/* /bitrix/templates/kostroykaremont_main/components/bitrix/news/gallery/bitrix/news.list/.default/style.css?1656973097150 */
