

/* Start:/bitrix/templates/kostroykaremont_main/components/bitrix/catalog/catalog_all/style.css?15930890461946*/

.soc_net { 
	border-top: 1px #DDD solid; 
	padding: 30px 0; 
	margin-top: 30px 15px 0;
}


.mobile_catalog_sort i.fa-sort-amount-asc, .mobile_catalog_sort i.fa-sort-amount-desc { color: black; }

.grid{}
.grid .bx_content_section{
	margin-bottom: 15px;
}
.grid .bx_sidebar{
	margin-bottom: 15px;
}

/* grid2x1 */
.grid2x1{}
.grid2x1 .bx_content_section{
	float: left;
	width: 66%;
	margin-bottom: 15px;
}
.grid2x1 .bx_sidebar{
	float: right;
	width: 33%;
	margin-bottom: 15px;
	padding-left: 5%;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
@media (max-width:960px){
	.grid2x1 .bx_sidebar{
		padding-left: 4%;
	}
}
@media (max-width:640px) {
	.grid2x1 .bx_content_section,
	.grid2x1 .bx_sidebar{
		width: 100%;
		float: none;
	}
	.grid2x1 .bx_sidebar{
		padding-left: 3%;
	}
}
@media (max-width:479px){
	.grid2x1 .bx_sidebar{
		padding-left: 1%;
	}

}


.type_show {
    margin: 0 0 5px;
    /*padding-bottom: 15px;*/
    /*text-align: right;*/
    font-size: 20px !important;
}

.type_show a{
    color: #5B5B5B;
    /*background-color: white;*/
    /*border-color: #E4E4E4;*/
    margin-left: 2px;
}



.type_show .actived{
    color: #E0E0E0;
    /*background-color: #E0E0E0;*/
    /*border-color: #C9C9C9;*/
    color: #B2B2B2;
}

.type_show {text-align: right; }


.sort_catalog {
	margin: 0 0 20px;

    /*padding-bottom: 15px;*/
    /*text-align: right;*/
    font-size: 13px;
}

.sort_catalog .btn {
    /* color: #5B5B5B; */
    background-color: white;
    border-color: #E4E4E4;
    margin-left: 5px;
    padding: 3px 10px;
    font-size: 14px;
}


.sort_catalog .btn:hover, .sort_catalog .btn:active, .sort_catalog .btn:focus  { color: black; background: #ddd; }
.sort_catalog .actived{
    color: #E0E0E0;
    background-color: #E0E0E0;
    border-color: #C9C9C9;
    color: black;
}
/* End */


/* Start:/bitrix/templates/kostroykaremont_main/components/bitrix/catalog.section.list/catalog_projects/style.css?1593089046258*/

.uslugi_catalog_one { margin-bottom: 30px; }

/*.catalog-text { border-left: 1px #E8E8E8 solid; border-right: 1px #E8E8E8 solid; }*/
.catalog-text>div { padding: 0 20px 15px; }
.uslugi_catalog_one .link {  border: 1px #E8E8E8 solid; border-top: none; }
/* End */
/* /bitrix/templates/kostroykaremont_main/components/bitrix/catalog/catalog_all/style.css?15930890461946 */
/* /bitrix/templates/kostroykaremont_main/components/bitrix/catalog.section.list/catalog_projects/style.css?1593089046258 */
